@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://use.typekit.net/mch3zne.css");

/* 
css structure

selector {
    (placement) - position, display
    (dimensions) - width/height, margin, padding, border, outline
    (presentation) - background, box
    (text) - font, color
    (animation) - transition
}
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* color palette */
    --red: #b05151;
    --darkred: #873b3b;
    --yellow: #ebe8d4;
    --black: #383030;
    --white: #fdfdfd;
    --opaque-white: #fdfdfd2f;
    --darkdesert: #c1b794;
    --gray: #c9c9c9;
    --desert: #cfc7aa;

    /* default values */
    --default-border: 2px solid var(--black);
    --default-border-radius: 5px;
    --default-background-color: var(--yellow);
    --default-font-size: 20px;
    --default-font-weight: 700;
    --default-text-color: var(--black);
    --default-title-font: 'corsario-variable', sans-serif;
    --default-text-font: 'Anonymous Pro', monospace;

    /* default styles */
    background-color: var(--white);
    font-family: var(--default-text-font);
    font-size: var(--default-font-size);
    font-weight: var(--default-font-weight);
    color: var(--black);
}

html, body {
    width: 100%;
    height: 100%;
    min-height: 20px;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-family: var(--default-title-font);
    font-variation-settings: "opsz" 48, "wght" 900;
    font-size: 4rem;
    text-align: center;
}

h2 {
    font-family: var(--default-title-font);
    font-variation-settings: "opsz" 6, "wght" 700;
    font-size: 1.5rem;
}

input {
    font-family: var(--default-text-font);
    font-weight: var(--default-font-weight);
}

input[type="text"]:focus {
    outline: none;
}

input[type="button"]:hover {
    cursor: pointer;
}

ul {
    list-style: none;
}
