@import "global.css";

:root {
    background-color: var(--yellow);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px;
}

main {
    padding: 10px;
    background-color: var(--yellow);
}

footer {
    background-color: var(--desert);
}

hr {
    color: var(--white);
}

.background-image-container {
    min-width: fit-content;
    height: fit-content;
    padding-bottom: 100px;
    border-bottom: 2px solid var(--black);
    background-color: var(--darkdesert);
    background-image: 
        linear-gradient(to top, rgba(255,0,0,0), rgba(0, 0, 0, 0.718)),
        url("../images/restaurant-images/wholesometable/pizza.jpeg");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}

.background-image-container > span {
    margin-left: 15%;
    font-size: .8rem;
}

.background-image-container > .background-image-author {
    font-weight: 500;
}

.nav-homepage-container {
    margin: 10px 5px 0 10px;
}

.nav-homepage-container > h2 {
    font-size: 2rem;
    color: var(--white);
}

.nav-menu-bar-container {
    margin: 0 auto 0 25px;
    font-size: 1rem;
}

.nav-menu-bar-container a, span {
    margin: 0 0.25rem;
    color: var(--white);
    white-space: nowrap;
}

.nav-menu-bar-container .nav-menu-bar {
    display: flex;
    justify-content: center;
}

.nav-search-container {
    flex: 0 1 auto;
    display: flex;  
    align-items: center;
    min-width: 150px;
    height: 45px;
    margin: 0 25px 0;
    border: none;
    border-radius: 5px;
    background-color: transparent;
}

.nav-search-container * {
    height: 100%;
}

.nav-search-container > input[type="text"] {
    width: 100%;
    padding: 0 15px;
    border: 0;
    border-radius: inherit;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: .9rem;
}

.nav-search-container > .nav-search-button-container {
    flex: 0 0 auto;
    width: 45px;
    padding: 7px;
    border-radius: inherit;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: var(--red);
}

.nav-search-container > .nav-search-button-container:hover {
    background-color: var(--darkred);
}

.nav-search-container input[type="button"] {
    width: 100%;
    border: 0;
    border-radius: inherit;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-radius: inherit;
    background-color: transparent;
    background-image: url('../images/spritesheet.png');
    background-position: 26% center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-menu-buttons-container {
    justify-content: flex-end;
    margin: 0 10px 0 5px;
}

.nav-menu-buttons-container > .nav-menu-buttons {
    display: flex;
    justify-content: flex-end;
}

.nav-menu-buttons-container > .nav-menu-buttons input[type="button"] {
    height: 45px;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 1rem;
    font-family: var(--default-text-font);
    font-weight: 700;
}

.nav-menu-buttons-container > .nav-menu-buttons .login {
    margin: 0 10px 0 0;
    border: 2px solid var(--white);
    background-color: transparent;
    color: var(--white);
}

.nav-menu-buttons-container > .nav-menu-buttons .login:hover {
    background-color: var(--opaque-white);
}

.nav-menu-buttons-container > .nav-menu-buttons .signup {
    margin: 0 0 0 10px;
    border: 2px solid var(--red);
    background-color: var(--red);
    color: var(--white);
}

.nav-menu-buttons-container > .nav-menu-buttons .signup:hover {
    border: 2px solid var(--darkred);
    background-color: var(--darkred);
    color: var(--white);
}

.tagline-container {
    display: flex;
    justify-content: flex-start;
    min-width: 300px;
    margin: 150px 10% 50px;
}

.tagline-container > hr {
    margin: 0 30px 0 0;
    border: 4px solid var(--yellow);
    border-radius: 25px;
    color: var(--white);
}

.tagline-container > h1 {
    text-align: left;
    font-size: 5rem;
    color: var(--yellow);
}

.search-bar-container {
    height: 50px;
    margin: 100px 10% 100px;
    border: 0; 
    background-color: transparent;
}

.search-bar-container * {
    height: 100%;
}

.search-bar-container > .search-bar {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border: none;
    border-radius: 30px;
    background-color: inherit;
}

.search-bar-container > .search-bar * {
    flex: 1 1 auto;
    border: none;
}

.search-bar-container > .search-bar > input {
    padding: 0 10px 0;
    font-size: 1rem;
}

.search-bar-container > .search-bar > input[type="button"] {
    border-radius: inherit;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.search-bar-container > .search-bar > input#food-type {
    flex-basis: 35%;
    padding-left: 30px;
    border-radius: inherit;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-bar-container > .search-bar > .location-icon-container {
    flex: 0 0 auto;
    width: 50px;
    padding: 3px;
    background-color: var(--white);
}

.search-bar-container > .search-bar #location-icon {
    display: block; /*so the bg image displays without needing content*/
    background-color: transparent;
    background-image: url('../images/spritesheet.png');
    background-position: 16.2% center;
    background-repeat: no-repeat;
    background-size: cover;
    /* outline: 1px solid black; */
}

.search-bar-container > .search-bar > input#location {
    flex-basis: 20%;
}

.search-bar-container > .search-bar > .search-icon-container {
    flex: 0 0 auto;
    width: 50px;
    padding: 7px;
    border-radius: inherit;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: var(--red);
}

.search-bar-container > .search-bar > .search-icon-container:hover {
    background-color: var(--darkred);
}

.search-bar-container > .search-bar #search-icon {
    width: 100%;
    border-radius: inherit;
    background-color: transparent;
    background-image: url('../images/spritesheet.png');
    background-position: 26.5% center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ------------------------------------------------- */

.reviews-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 10%;
}

.reviews-container > h2 {
    margin: 30px 0 60px;
}

.reviews-content {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 400px)); /* Adjust the minimum column width as needed */
    grid-auto-rows: 390px;
    grid-gap: 30px;
    align-content: center;
}

.review-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid var(--darkdesert);
    border-radius: 3px;
    background-color: var(--white);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #262626;
    line-height: 18px;
}

.header {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.profile-pic {
    height: 50px;
    width: 50px;
    border: 1px solid #BCBCBC;
    border-radius: 100%;
    margin-right: 10px;
}

.header-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header-user-info {
    /* outline: 1px solid black; */
    font-weight: 700
}

.header-location-info {
    /* outline: 1px solid Red; */
    line-height: 15px;
    font-size: 12px;
}

.content {
    width: 100%;
    height: 50%;
}

.verified-icon {
    display: inline-block;
    background-image: url('images/sprites2.png');
    background-size: 411px 393px;
    background-position: -396px -163px;
    width: 12px;
    height: 12px
}

.follow-link {
    color: #3897f0;
}

.footer {
    padding: 10px;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sprite-group {
    padding: 0px;
    margin: 0px;
}

.sprite-group > li {
    display: inline-block;
    width: 25px;
    height: 25px;
    /* outline: 1px solid red; */
}

.like {
    background-image: url("images/sprites2.png");
    /* background image is scaled down by half*/
    background-size: 411px 393px;
    background-position: 0px -318px;
}

.message {
    background-image: url("images/sprites2.png");
    /* background image is scaled down by half*/
    background-size: 411px 393px;
    background-position: -125px -293px;
}

.send {
    background-image: url("images/sprites2.png");
    /* background image is scaled down by half*/
    background-size: 411px 393px;
    background-position: -200px -293px;
}

.bookmark {
    background-image: url("images/sprites2.png");
    /* background image is scaled down by half*/
    background-size: 411px 393px;
    background-position: -175px -343px;
}

.bold {
    font-weight: 600;
}

.description {
    margin-top: 5px;
    /* outline: 1px solid red; */
}

.user-tag {
    color: #003469
}

.date {
    color: #999;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: .2px;
    margin-top: 5px;
    /* outline: 1px solid red; */
}