<link rel="stylesheet" href="/static/css/navigationbar.css">
<script src="/static/js/search-key.js" defer></script>

<div class="top-container"> 
    <div class="navbar-container">
        <hr id="top">
        <div class="navbar-content">
            <div class="link-container">
                <div class="links">
                    <h2> <a id="logo" href="/home">munch</a></h2>
                    <p > <a href="/browse" id="browse-resto">Browse Restaurants</a></p>
                    <p> <a href="/about" id="browse-resto"> About Us </a></p>
                </div>
            </div>

            <div id="searchbar" class="searchbar"> 
                <!--change action-->
                <form class="search-establishment">
                        <input type="text" class="search-bar" id="search-bar" placeholder="Japanese" onkeyup="filterBySearch()"> 
                        <button type="submit" class="submit-search" id="submit-search">
                            <span> <a href="/browse" class="search-button"> </a> </span>
                        </button>
                </form>
            </div>
            
            {{#unless nav_context.hide }}
                {{#if nav_context.isLoggedIn }}
                    <div id="action-buttons" class="action-buttons">
                        <form action="/logout?_method=DELETE" method="POST">
                            <button type="submit" class="login">Log Out</button>
                        </form>
                        <form action="/user" method="GET">
                            <button id="pictu" class="profile-picture" type="submit"></button>
                        </form>
                    </div>
                {{else}}
                    <div id="action-buttons" class="action-buttons">
                        <form action="/login" method="GET">
                            <button type="submit" class="login">Log In</button>
                        </form>
                        <form action="/signup" method="GET">
                            <button type="submit" class="signup">Sign Up</button>
                        </form>
                    </div>
                {{/if}}
            {{/unless}}
        </div>
        <hr>
    </div>
</div>