@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://use.typekit.net/mch3zne.css");

.main-restaurant-info {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
    margin-top: -20px;
}

.name {
    margin-bottom: -30px;

}

.group1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-right: 10px;
}

.description {
    display:flex;
    width:70%;
    font-size: 15px;
    margin-bottom: 30px;
}

.pictures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    height: 450px;
    margin-bottom: 20px;
}

.pic1 {
    width: 100%;
    background-color:#c9c9c9;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-right: 50px;
    background-position:center;
}

.second-half {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}

.pic2, .pic4 {
        width: 100%;
        background-color:#c9c9c9;
        margin-right: 50px;  
        background-position:center;
}

.pic3 {
    width: 100%;
    background-color:#c9c9c9;
    border-top-right-radius: 25px;
    margin-right: 50px;
    background-position:center;

}

.pic5 {
    width: 100%;
    background-color:#c9c9c9;
    border-bottom-right-radius: 25px;
    margin-right: 50px;
    background-position:center;

}

.ratings {
    display: flex;
    flex-direction: row;
    width:30%;
    justify-content: right;
    margin-bottom:auto;
}

.review-container {
    margin-bottom:5px;
}

.review-rating {
    margin-top:auto;
    margin-bottom:auto;
}

.review-stars {
    margin-right: 20px;
}

.review-stars {
    margin-right: 20px;
    
    
}

.star-spritegroup > li { 
    display: inline-block;
}

.star-spritegroup {
    margin: 0px;
    padding: 0px;
}

.half-star {
    background-image: url('images/spritesheet.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -30px center;
    width: 25px;
    height: 30px;
}

.blank-star {
    background-image: url('images/spritesheet.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -60px center;
    width: 25px;
    height: 30px;
}

.star {
    background: url('images/spritesheet.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -4px center;
    width: 25px;
    height: 30px;
}

.misc-info {
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    font-size: 25px;
}

.price {
    letter-spacing: 5px;
    margin-bottom:auto;
    margin-top:auto;
}

.tag-container {
    font-family: 'Anonymous Pro', monospace;
    font-weight:700;
    display: flex;
    flex-direction: row;
    margin-top:auto;
    height:15%;
}

.tag {
    background-color: #cfc7aa;
    height:100%;
    min-width: 10%;
    border-radius: 5px;
    margin-right: 20px;
    text-align:center;
}

div.tag-container div {
    display:inline-block;
    justify-content: space-between;
    padding:10px;
}

.hr {
    border-top: 2px solid var(--default-text); 
    margin:0px 5%;
    z-index:5;
}

.restaurant-info {
    display: flex;
    flex-direction: column;
    margin:0px 5%;
    margin-top: 20px;
}

.group2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.action-group {
    display: flex;
    flex-direction: row;
    width: 70%; 
}

.action-group .button {
    margin-right:20px;
}

.button {
    background-color: var(--default-button);
    color: var(--white);
    font-size: 30px;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Anonymous Pro', monospace;
    font-weight: 700;
    border: none;
    display: flex;
    align-items: center; 
    
}

.button-review {
    margin-top:auto;
    margin-bottom:auto;
}

i {
    height:30px;
}

.share-sprite, .bookmark-sprite, .photo-sprite {
    background-color: transparent;
    border: 2px solid var(--default-text);
    color: var(--default-text);
    gap: 10px;
}

.share-sprite:hover, .bookmark-sprite:hover, .photo-sprite:hover {
    background-color: #fdfdfd2f;
}

.bookmark:hover:before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("images/spritesheet.png");
    background-size: cover;
    background-position: 90px 0px;
}

.share::before {
    content: "";
    display: inline-block;
    width: 30px; 
    height: 30px; 
    background-image: url("images/spritesheet2.png");
    background-size: cover;
    background-position: -60px center; 
}

.bookmark::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("images/spritesheet.png");
    background-size: cover;
    background-position: 60px 0px;
}

.photo:hover:before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("images/spritesheet2.png");
    background-size: cover;
    background-position: -150px center; 
}

.photo::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("images/spritesheet2.png");
    background-size: cover;
    background-position: -120px center; 
}

.write-review:hover {
        background-color:#873b3b;
}

.group3 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.image-container {
    height: 200px;
    width: 90%;
    background-color:#c9c9c9;
    border-radius: 5px;
    margin-right: 50px;
    margin-bottom:20px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-right: 40px;
    gap: 10px;
}

.hr2 {
    border-top: 2px solid var(--default-text); 
    width: 100%;
    margin-bottom: 30px;
    
}

.bold {
    font-size: 35px;
    font-weight:700;
    font-family: corsario-variable, sans-serif;
}

.menu {
    height: 500px;
    width: 100%;
    margin-bottom: 30px;
}

.reviews-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.customer-reviews {
    display: flex;
    flex-direction: row;
}


.post {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    border-bottom: 2px solid #383030;
    padding-bottom: 1rem;
    width:33%;
}

.post-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5rem;
}

.post-profile-pic {
    border-radius: 100%;
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1rem;
}

.post-info-name {
    font-weight:700;
}

.post-info {
    display: flex;
    flex-direction: column;
    align-items: left;
}


.post-rating {
    display: flex;
    flex-direction: row;
}

ul {
    padding:0px;
}

#rating-1.rating-scale > li {
    display: inline-block;
    background-image: url("images/spritesheet.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10.5% center;
    padding: 0;
    width: 1.2rem; /* Adjust the width as needed */
    height: 1.2rem; /* Adjust the height as needed */
}

.post-date {
    font-size: .8rem;
    font-weight:700;
    margin-bottom:10px;
}

.post-review {
    margin-top:0;
    font-size: .9rem;
}

.side-bar {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 2px solid var(--default-text); 
    border-radius: 10px;
    padding:30px; 
    position: relative;
    height: 450px;
}


.direction {
    margin-top: -20px;
}


.side-bar > div {
    margin-bottom: 30px;
}

.details {
    font-weight: 100;
    font-size: 18px;
    margin-bottom: 40px;
}

.number {
    margin-top: 40px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
}

.location-sprite {
    display: inline-block;
    height:30px;
    width:30px;
    background-image:url('images/spritesheet.png');
    background-repeat: no-repeat;
    background-size:600px 30px;
    background-position:-86px center;
    margin-right: 20px;
}

.loc-info {
    display:flex;
    flex-direction:row;
}

.phone-sprite {
    display: inline-block;
    height:30px;
    width:30px;
    background-image:url('images/spritesheet2.png');
    background-repeat: no-repeat;
    background-size:180px 30px;
    background-position: -90px center;
    margin-right: 20px;
}

.number {
    display:flex;
    flex-direction:row;
}

.num {
    margin-top:auto;
    margin-bottom:auto;
}

.rating-scale > li {
    display: inline-block;
    background-image: url("images/spritesheet.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10.5% center;
    padding: 0;
    width: 1.2rem; /* Adjust the width as needed */
    height: 1.2rem; /* Adjust the height as needed */
}

#rating-1.rating-scale > li:nth-child(-n+3) {
    background-position: 0 center;
}

#rating-2.rating-scale > li:nth-child(-n+5) {
    background-position: 0 center;
}

#rating-3.rating-scale > li:nth-child(-n+4) {
    background-position: 0 center;
}

#rating-3.rating-scale > li:nth-child(4) {
    background-position: 5.9% center;
}