@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://use.typekit.net/mch3zne.css");

.image-container {
    height: 200px;
    width: 200px;
    background-color:#c9c9c9;
    border-radius: 25px;
    margin-right: 50px;
    border: 2px solid var(--default-text);
}

.restaurant-list {
    display:flex;
    flex-direction:column;
    width: 100%;
}

.restaurant {
    display:flex;
    flex-direction:row;
    width: 100%;
    margin-bottom:60px;
    font-family: 'Anonymous Pro', monospace;
    font-weight:700;
}

.content-container {
    display:flex;
    flex-direction:row;
    margin:2.5% 5%;
}

.filter-list {
    border-left:2px solid var(--default-text);
    border-right:2px solid var(--default-text);
    padding:0 2.5%;
    margin-right: 50px;
    width: 25%;
}

.filter-list hr {
    width:100%;
    margin-top: 1em;
}

.review-container {
    display:flex;
    flex-direction:row;
}

.info-container {
    display:flex;
    flex-direction:column;
    height:100%;
    width:100%;
}

.tag {
    background-color: #cfc7aa;
    height:100%;
    min-width: 10%;
    border-radius: 5px;
    text-align:center;
}

div.tag-container div {
    display:inline-block;
    padding:12.5px;
    
}

.tag-container {
    margin-top:auto;
}

.restaurant-title {
    margin: 0px 0px 5px;
}

.review-container {
    margin-bottom:5px;
}

.review-rating {
    margin-top:auto;
    margin-bottom:auto;
}

.review-stars {
    margin-right: 20px;
}

.star-spritegroup > li { 
    display: inline-block;
}

.star-spritegroup {
    margin: 0px;
    padding: 0px;
}

.half-star {
    background-image: url('images/spritesheet.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -30px center;
    width: 25px;
    height: 30px;
}

.blank-star {
    background-image: url('images/spritesheet.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -60px center;
    width: 25px;
    height: 30px;
}

.star {
    background: url('images/spritesheet.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -4px center;
    width: 25px;
    height: 30px;
}

.filter-list button {
    border: 2px solid var(--default-text);
    border-radius: 10px;
    padding:7.5px;
    background:#cfc7aa;
    font-family:'Anonymous Pro', monospace;
    margin:5px;
    
}

.tag-list {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.peso {
    background: url('images/spritesheet.png') no-repeat -393px -7px;
	width: 78px;
	height: 85px;
}

.star-filter button {
    display:inline-block;
}

.star-filter .star {
    padding:12.5px;
    background-image:url('images/spritesheet.png');
    background-repeat: no-repeat;
    background-size:500px 25px;
    background-position:0px center;

}
