@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://use.typekit.net/mch3zne.css");

:root {
    --bg: #EBE8D4;
    --default-text: #383030;
    --default-button: #B05151;
    --white: #FDFDFD;
    color:var(--default-text);
    font-size:20px;
    font-family: 'Anonymous Pro', monospace;
    font-weight:400;
    background-color:var(--bg);
}

.overall-container {
    display:flex;
    flex-direction:column;
}

body {
    margin:0px;
    overflow-x:hidden;
}

#top {
    margin-top:30px;
}

.underline {
    text-decoration:underline;
}

h1 {
    font-family: corsario-variable, sans-serif;
    font-variation-settings: "opsz" 48, "wght" 600;
    font-size:4rem;
}

h2 {
    font-family: corsario-variable, sans-serif;
    font-variation-settings: "opsz" 48, "wght" 900;
    font-size:2rem;
}

.navbar-container {
    margin:0px 5%;
    z-index:5;
    
}

.navbar-content {
    display:flex;
    flex-direction:row;
    padding:20px 0px;
    align-content: space-between;
    color:var(--white);
   
}

div.links > h2,p {
    margin-top:auto;
    margin-bottom:auto;
    margin-right:50px;
}

.link-container {
    margin-top:auto;
    margin-bottom:auto;
}

.links {
    display:flex;
    flex-direction:row;
    
}

.login {
    margin-top:auto;
    margin-bottom:auto;
    margin-left:auto;
}

div.login > button {
    margin-left:20px;
    font-size:1rem;
    padding:10px;
    border-radius:5px;
    font-family: 'Anonymous Pro', monospace;
    font-weight:700;
    border: none;

}

.signup {
    background-color:var(--default-button);
    color: var(--white);
}

.login {
    background-color:transparent;
    color: var(--white);
}

hr {
    border:1px solid var(--white);
}

.images {
    height:57.5vh;
    z-index:0;
    position:absolute;
    top:0;
    width:100%;
    border-bottom:2px solid var(--default-text);

}

.images > img {
    width:100%;
    object-fit:cover;
    height:57.5vh;
}

.gradient {
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(0, 0, 0, 1));
    position:absolute;
    top:0;
    height:100%;
    width:100%;
    z-index:1;
}

.tagline {
    z-index: 0;
    margin-left:5%;
    margin-right:5%;
    text-align:center;
}
