<!DOCTYPE html>
    <head>
        {{#if title }}
            <title> {{title}} </title>
        {{else}}
            <title>MUNCH</title>
        {{/if}}
        <link rel="stylesheet" href="static/css/defaults.css">
        
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous" ></script>
        <script src="static/js/nav.js" defer></script>
        
    </head>
    <body>
        {{> navbar nav_context=nav_context}}
        <div id="main-content">
            {{{body}}}
        </div>
    </body>
</html>
