<!DOCTYPE html>
    <head>
        <title> {{title}} </title>
        <link rel="stylesheet" href="static/css/defaults.css">
        <script src="/static/scripts/nav.js" defer></script>
    </head>
    <body>
        {{> navbar}}
        <div id="main-content">
            {{{body}}}
        </div>
    </body>
</html>
