<div class="background">
    <div class="background-image"> </div>
    <section class="tagline-searchbar-container">
        <div class="tagline-container">
            <h2 style="text-align: center;">The requested url was not found in this server</h2>
        </div>
    </section>
</div>