<link rel="stylesheet" type="text/css" href="/static/css/about.css"/>

<div class="container">
    <div class="background"> </div>
    <div class="title"> 
         <h1> About </h1>
    </div>
    <div class="content">
        <p> This project uses the following packages. </p>
        <ul>
            <li> bcrypt: ^5.1.1</li>
            <li> cloudinary: ^2.1.0</li>
            <li> cors: ^2.8.5</li>    
            <li> dotenv: ^16.4.5 </li>
            <li> express: ^4.18.3 </li>
            <li> express-flash: ^0.0.2 </li>   
            <li> express-handlebars: ^7.1.2 </li>   
            <li> express-session: ^1.18.0 </li>  
            <li> method-override: ^3.0.0 </li>  
            <li> mongodb: ^6.5.0 </li>   
            <li> mongoose: ^8.2.4 </li>    
            <li> multer: ^1.4.5-lts.1 </li>   
            <li> passport: ^0.7.0 </li>    
            <li> passport-local: ^1.0.0 </li>    
            <li> router: ^1.3.8 </li>
            <li> nodemon: ^3.1.0 </li>
        </ul>
    </div>
</div>
