<link rel="stylesheet" type="text/css" href="/static/css/index.css"/>

<div class="background">
    <div class="background-image"> </div>
    <section class="tagline-searchbar-container">
        <div class="tagline-container">
            <!-- <hr class="tagline-vertical-border"> -->
            <h1>What are you<br><u>craving</u> for?</h1>
        </div>
        <div class="search-bar-container">
            <form class="search-bar" action="#">
                <input id="food-type" type="text" placeholder="Japanese">
                <div class="location-icon-container"><span id="location-icon"></span></div>
                <input id="location" type="text" placeholder="Makati, Metro Manila">
                <div class="search-icon-container"><input id="search-icon" type="button" value="&#160;"></div>
            </form>
        </div>
    </section>
    <span class="background-image-source">from The Wholesome Table</span><br>
    <span class="background-image-author">by Josh Hutcherson</span>
    <main>
    </main>
    <footer>
    </footer>
</div>