<link rel="stylesheet" type="text/css" href="/static/css/index.css"/>



<div class="background">
    <div class="background-image"> </div>
    <section class="tagline-searchbar-container">
        <div class="tagline-container">
            <h1>What are you<br><u>craving</u> for?</h1>
        </div>
    </section>
    <span class="background-image-source">from The Wholesome Table</span><br>
    <span class="background-image-author">by Josh Hutcherson</span>
    <main>
    </main>
</div>