<link rel="stylesheet" type="text/css" href="static/css/establishmentlist.css"/>
<script src="static/js/filters.js"></script>

<div class="content-container">

    <div class="filter-list">
            <h4>Prices</h4>
        <div class="price-filters">
            <button class="price-filter-button">
                ₱
            </button>
            <button class="price-filter-button">
                ₱₱
            </button>
            <button class="price-filter-button">
                ₱₱₱
            </button>
            <button class="price-filter-button">
                ₱₱₱
            </button>
        </div>
        <hr>
            <h4> Tags </h4>
        <div class="tag-list"> 
            {{#each tags}} 
                <button class="tag-filter-button">{{this}}</button>
            {{/each}}
        </div>

        <hr>
        <h4> Rating </h4>
        <div class="star-filter"> 
            <button class="star-filter-button">
                <span class="star"></span>
            </button>
            <button class="star-filter-button">
                <span class="star"></span>
                <span class="star"></span>
                
            </button>
            <button class="star-filter-button">
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                
            </button>
            <button class="star-filter-button">
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                
            </button>
            <button class="star-filter-button">
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                
            </button>
        </div>

    </div>

    <div class="restaurant-list">
        {{#each restaurants}}
            {{>restaurant-abstract}}
        {{/each}}

    </div>

    </div>
</div>