<div class="background">
    <div class="background-image"> </div>
    <section class="tagline-searchbar-container">
        <div class="tagline-container">
            {{#if messages.error}}
                <h2 style="text-align: center;">{{messages.error}}</h2>
            {{else}}
                <h2 style="text-align: center;">{{deletion_status}}</h2>
            {{/if}}
        </div>
    </section>
</div>