
<link rel="stylesheet" type="text/css" href="/static/css/user.css"/>
<div class="content-container">
    <div class="left">
        <div class="profile">
            <div class="profile-pic">
                <img src="/static/img/profile-pics/{{reviewer_pfp}}">
            </div>

            <div class="profile-information">
                <h4>{{name}}</h4>
            </div>

            <div class="profile-controls">
                <div>
                    <button class="edit-profile">
                    </button>
                    Edit Profile
                </div>
                <div>
                    <button class="add-photo">
                    </button>
                    Add Photo

                </div>

                <div>
                    <button class="delete-profile">
                    </button>
                    Delete Profile

                </div>

            </div>


        </div>
        <div class="reviews-container">
            <button class="my-reviews">
                <div class="group">
                    <span class="star"></span>
                    <h4>My Reviews</h4>
                </div>
                <h5 class="profile-num"> 5 Reviews </h5>
            </button>
        </div>

        <div class ="saved-container">
            <button class="my-saves">
                <div class="group">
                    <span class="saved"></span>
                    <h4> My Saved Restaurants </h4>
                </div>
                <h5 class="profile-num"> 2 Saved </h5>
            </button>
        </div>

    </div>
    <div class="right">
        <div class ="main-section">
            <div class="review-section"> 
                
                <div class="heading">
                    <h3> Reviews </h3>
                    <div class="sort-container">
                        <label for="sort-by"> Sort by </label>
                        <select name="sort-by" class="sort-by"> 
                        <option value="Latest"> Latest first </option> 
                        <option value="Oldest"> Oldest first </option> 
                        <option value="Highest"> Highest rating </option> 
                        <option value="Lowest"> Lowest rating </option> 
                    </select>
                    </div>
                </div>

                <hr>

                <div class="customer-reviews">
                    {{#each reviews}} 
                        {{>review}}
                    {{/each}}
                </div>
            </div>

        </div>
    </div>
</div>