<link rel="stylesheet" type="text/css" href="/static/css/login-signup.css"/>

<div class = "overall-container">
    <form class="signup-form" action="/user/edit" method="POST"> 
        <h2> <a href="index.html"> munch </a> </h2> 
        
        {{#if messages.error}}
            <p>{{messages.error}}</p>
        {{/if}}

        <div class="form-element">
            <label for="first-name"> Username </label>
            <input type="text" id="first-name" name="username" placeholder="Enter Username" value="{{user.username}}" required>
        </div>
        <div class="form-element">
            <label for="last-name"> Full Name </label>
            <input type="text" id="last-name" name="fullname" placeholder="Enter Full Name" value="{{user.fullname}}" required>
        </div>
        <div class="form-element">
            <label for="signup-email"> Email </label>
            <input type="text" id="signup-email" name="email" placeholder="Enter email" value="{{user.email}}" disabled>
        </div>
        <div class="form-element">
            <label for="signup-password"> New Password </label>
            <input type="text" id="signup-password" name="password" placeholder="Enter new password" required>
        </div>
        <div class="form-element">
            <label for="confirm-password"> Confirm Password </label>
            <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm password" required>
        </div>
        <div class="form-element">
            <input type="submit" value="Update">
        </div>
        <div class="to-login">
            Back to <a id="to-login" href="/user">Profile </a>
        </div>
        </form>
    </div>
</div>