{{#with restaurant}}
<link rel="stylesheet" type="text/css" href="/static/css/establishmentlist.css">
<link rel="stylesheet" type="text/css" href="/static/css/customer-review.css">
<link rel="stylesheet" type="text/css" href="/static/css/defaults.css">
<script src="/static/js/reviews.js" defer></script>

<div class="main-container">
    <div class="content-container">
        <div id="content-header">
            <a href="../{{toLink restaurant_name}}">{{restaurant_name}}</a>
        </div>
        <form id="reviewForm" enctype="multipart/form-data">
            <fieldset>
                <div class="content-body">
                    <div class="rating">
                        <div id="rating-buttons">
                            <button class="star-button" type="button"></button>
                            <button class="star-button" type="button"></button>
                            <button class="star-button" type="button"></button>
                            <button class="star-button" type="button"></button>
                            <button class="star-button" type="button"></button>
                        </div>
                        
                        Select your rating
                        
                    </div>
                    <div class="rating-guide">
                        Some things to consider when writing the review
                        <div class="rating-tags">
                            <span>Food</span>
                            <span>Price</span>
                            <span>Service</span>
                            <span>Ambiance</span>
                            <span>Overall Impression</span>
                        </div>
                    </div>
                    <textarea class="review_description" name="review_description" placeholder="Write your review..." required></textarea>
                
                    <button class="default-red-button review-submit" id="submit-button" type="button" method="POST">Submit Review</button>
                    <button class="default-red-button review-submit" type="button" method="POST" onclick="document.getElementById('file-input').click();"> Upload Image </button>
                    <input type="file" id="file-input" name="image" method="POST" enctype="multipart/form-data">
                </div>
            </fieldset>
        </form>
    </div>
    
    
    <div class="side-content">
        <span class="side-header">Recent Reviews</span>
            {{#each resto_reviews}}
                {{> review this}}
            {{/each}}
    </div>
</div>
{{/with}}
    

