@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://use.typekit.net/mch3zne.css");

.background {
    position: fixed; /* Anchor the div to the viewport */
    top: 0;
    min-width: fit-content; 
    min-height: auto;
    height: 350px;
    padding-bottom: 100px;
    border-bottom: 2px solid var(--black);
    background-color: var(--darkdesert);
    background-image: 
        linear-gradient(to top, rgba(255,0,0,0), rgba(0, 0, 0, 0.718)),
        url("/static/img/pizza.jpeg");
    background-size: 100% auto;
    background-position: center;
    /* background-repeat: no-repeat; */
    z-index: -5;
    width: 100%;
}

.navbar-content {
    color:var(--yellow);
}

a, a:visited {
    text-decoration:none;
    color: var(--yellow);
}

.login {
    background-color:transparent;
    color: var(--yellow);
    border: 2px solid var(--yellow);
}

hr {
    border:1px solid var(--yellow);
}

h1 {
    color: var(--yellow);
    text-align: center;
    
}