<link rel="stylesheet" type="text/css" href="/css/login-signup.css"/>

<div class = "overall-container">
    <div class="login-form">
        <h2> <a href="index.html"> munch </a> </h2>
        <div class="form-element">
            <label for="login-email"> Email </label>
            <input type="email" id="login-email" placeholder="Enter email">
        </div>
        <div class="form-element">
            <label for="login-password"> Password </label>
            <input type="password" id="login-password" placeholder="Enter password">
        </div>
        <div class="form-element">
            <input type="radio" name="user-type" id="login-admin">
            <label for="login-admin"> Admin </label>
            <input type="radio" name="user-type" id="login-user">
            <label for="login-user"> User </label>
        </div>
        <div class="form-element">
            <input type="checkbox" id="remember-me">
            <label for="remember-me"> Remember me </label>
        </div>
        <div id="errorDiv"></div>
        <div class="form-element">
            <input type="submit" onclick="validate()" value="Login">
        </div>  
        <div class="to-signup">
            Don't have an account? <a id="to-signup" href="signup-page.html"> Sign up </a>
        </div>
    </div>
</div>